extends main.pug

include ./mixins.pug

block content
  .modal#share(onclick="gotForecast.download.closeModal()")
    .modal-content(onclick="event.stopPropagation()")
      h3 Share your results!
      label Your name
        input(onblur="gotForecast.download.fillName(this.value)" name="username" type="text")#username
      #link-container
        label Your link
          input#sharelink(type="text")
        span(onclick="gotForecast.download.copyLink()") copy
      
  #forecast-results
    // button.pure-button(onclick="gotForecast.download.passWholePage()") download pic
    
    // button.pure-button(onclick="gotForecast.download.shareLink()") Share link

    // SELF RESULTS
    .pure-g.header
      if selfResults
        .pure-u-1-2
          h1 Your forecast!
        .pure-u-1-2.claim
          a#button.custom--button.huge(onclick="gotForecast.download.openModal('share')") Share your results!
      else
        .pure-u-1-2
          h1 This is &nbsp;
            if userName
              span= userName
                span 's forecast!
        .pure-u-1-2.claim
          a#button.custom--button.huge(href="/") Do your own!

    .results-table
      .pure-g.header
        .pure-u-1-2
          .results-column.alive-column
            h2 Alive
            each a in alive
              .pure-u-1-2.card-container
                .alive-card.card.pure-g
                  .pure-u-1-4
                    img(src=`/images/${a.id}.jpg`)
                  .pure-u-3-4
                    p.name=a.nameToDisplay

        .pure-u-1-2
          .results-column.dead-column
            h2 Dead
            each d in dead
              .pure-u-1-2.card-container
                .dead-card.card.pure-g
                  .pure-u-1-4
                    img(src=`/images/${d.id}.jpg`)
                  .pure-u-3-4
                    p.name=d.nameToDisplay
