mixin characterItem(character)
  .character-item
    img.character-item-image(src=`/images/${character.idName}.jpg`, onerror="this.src='/images/jonSnow.jpg'")
    h3.character-item-name=character.name

    .character-item-status
      label(for=`alive-${character.idName}`) alive
        input(
          type="radio",
          name=`status-${character.idName}`,
          value="alive",
        )
      label(for=`dead-${character.idName}`) dead
        input(
          type="radio",
          name=`status-${character.idName}`,
          value="dead",
      )
    
    .character-item-whiteWalker
      label(for=`whitewalker-${character.idName}`) White Walker?
        input(
          type="checkbox",
          name=`whitewalker-${character.idName}`,
          value="true"
        )

mixin dialogCharacterInfo(characterIdName)
  #dialog-content
    #dialog-content-image
      img#dialog-content-image-img
