mixin characterItem(character)
  .character-item
    img.character-item-image(src=`/images/${character.idName}.jpg`, onerror="this.src='/images/jonSnow.jpg'")
    h3.character-item-name=character.name

    p.character-item-description Little description here blablasdnja askndlasndasnd nasd k nasdkand nsakndkasnd asdka nakkdnaksdand kasdnk

    .character-item-status
      label.alive-label(onchange="gotForecast.pictureHandler.toggleOnOff(this)")
        input.alive-input(
          type="radio",
          name=`status-${character.idName}`,
          value="alive",
        )
        .label-image
          img.off(src="/images/heart-gray.svg")
          img.on(src="/images/heart-green.svg")
      label.dead-label(onchange="gotForecast.pictureHandler.toggleOnOff(this)")

        input.dead-input(
          type="radio",
          name=`status-${character.idName}`,
          value="dead",
        )
        .label-image
          img.off(src="/images/skull-gray.svg")
          img.on(src="/images/skull-red.svg")
    
    .character-item-whiteWalker
      label White Walker?
        input(
          type="checkbox",
          name=`whitewalker-${character.idName}`,
          value="true"
        )

mixin dialogCharacterInfo(characterIdName)
  #dialog-content
    #dialog-content-image
      img#dialog-content-image-img
