mixin characterItem(character)
  .character-item
    img.character-item-image(src=`/images/${character.idName}.jpg`, onerror="this.src='/images/jonSnow.jpg'")
    h3.character-item-name=character.name

    p.character-item-description Little description here blablasdnja askndlasndasnd nasd k nasdkand nsakndkasnd asdka nakkdnaksdand kasdnk

    .character-item-status
      p Death or alive?
      label Alive
        input(
          type="radio",
          name=`status-${character.idName}`,
          value="alive",
        )
      label Dead
        input(
          type="radio",
          name=`status-${character.idName}`,
          value="dead",
      )
    
    .character-item-whiteWalker
      label White Walker?
        input(
          type="checkbox",
          name=`whitewalker-${character.idName}`,
          value="true"
        )

mixin dialogCharacterInfo(characterIdName)
  #dialog-content
    #dialog-content-image
      img#dialog-content-image-img
