mixin characterItem(character, length)
  .character-item

    img.character-item-image(
      src=`/images/${character.idName}.jpg`,
      title=`Credits: ${character.imgCredits}`)
    h3.character-item-name
      a(href=`https://gameofthrones.fandom.com/wiki/${character.wikiName}`, target="_blank")=character.name

    .character-item-status
      label.alive-label
        input.alive-input(
          type="radio",
          name=`status-${character.idName}`,
          value="alive",
          onchange=`gotForecast.formHandler.enableButton(forecast, ${length})`
        )
        .label-image
          img.off(src="/images/heart-gray.svg")
          img.on(src="/images/heart-green.svg")
      label.dead-label
        input.dead-input(
          type="radio",
          name=`status-${character.idName}`,
          value="dead",
          onchange=`gotForecast.formHandler.enableButton(forecast, ${length})`
        )
        .label-image
          img.off(src="/images/skull-gray.svg")
          img.on(src="/images/skull-red.svg")
    
    //.character-item-whiteWalker--container
    .character-item-whiteWalker
      label White Walker?
        input(
          type="checkbox",
          name=`whitewalker-${character.idName}`,
          value="true"
        )
        .box
          .checked--container
            .checked


mixin dialogCharacterInfo(characterIdName)
  #dialog-content
    #dialog-content-image
      img#dialog-content-image-img
