mixin characterForm(character)
  .pure-g
    .pure-u-1-4(onclick=`gotForecast.pictureHandler.openPicture('${character.idName}')`)= character.name
    .pure-u-1-4
      label(for=`alive-${character.idName}`)
        input(
          type="radio",
          name=`status-${character.idName}`,
          value="alive",
        )
    .pure-u-1-4
      label(for=`dead-${character.idName}`)
        input(
          type="radio",
          name=`status-${character.idName}`,
          value="dead",
        )
    .pure-u-1-4
      label(for=`white-walker-${character.idName}`)
        input(
          type="checkbox",
          name=`white-walker-${character.idName}`,
          value="true"
        )

mixin dialogCharacterInfo(characterIdName)
  #dialog-content
    #dialog-content-image
      img#dialog-content-image-img
