extends main.pug

include ./mixins.pug

block content
  .modal#share(onclick="gotForecast.share.closeModal()")
    .modal-content(onclick="event.stopPropagation()")
      h3 Share your results!
      label Your name
        input(oninput="gotForecast.share.fillName(this.value)" name="username" type="text")#username
      #link-container
        label Your link
          input#sharelink(type="text")
        span.animate(onclick="gotForecast.share.copyLink(this)") copy
      
  #forecast-results

    // SELF RESULTS
    .pure-g.header
      if selfResults || !userName
        .pure-u-1.pure-u-sm-1-2
          h1 Your forecast!
        .pure-u-1.pure-u-sm-1-2.claim
          .custom--button.button(onclick="gotForecast.share.openModal('share')")
            a#button Share your results!
      else
        .pure-u-1.pure-u-sm-1-2.claim
          h1 This is &nbsp;
            if userName
              span= userName
                span 's forecast!
        .pure-u-1.pure-u-sm-1-2.claim
          .custom--button.button(onclick="window.location.href='/'")
            a#button(href="/") Do your own!
    
    .score
      .container.pure-g
        .bar-container.pure-u-4-5
          h3 Current score!
          .score-bar
            .score-bar-correct.empty(style=`width: ${currentScore.cssWidth}%`, score=`${currentScore.score}`)
        .score-number-container.pure-u-1-5
          p#score-number 0
          span points
      

    .results-table
      .pure-g.header-table
        .pure-u-sm-1.pure-u-md-1-2
          .results-column.alive-column
            h2 Alive
            each a in alive
              .pure-u-1.pure-u-sm-1-2.card-container
                .alive-card.card.pure-g
                  .pure-u-1-4
                    img(src=`/images/${a.id}.jpg`)
                  .pure-u-3-4
                    p.name=a.nameToDisplay

        .pure-u-sm-1.pure-u-md-1-2
          .results-column.dead-column
            h2 Dead
            each d in dead
              .pure-u-1.pure-u-sm-1-2.card-container
                .dead-card.card.pure-g
                  .pure-u-1-4
                    img(src=`/images/${d.id}.jpg`)
                  .pure-u-3-4
                    p.name=d.nameToDisplay
