extends main.pug

include ./mixins.pug

block content
  .modal#share(onclick="gotForecast.share.closeModal()")
    .modal-content(onclick="event.stopPropagation()")
      h3 Share your results!
      label Your name
        input#username(
          name="username",
          type="text",
          maxlength="20",
          oninput="gotForecast.share.fillName(this.value)",
          onkeypress="gotForecast.share.avoidCharacters()")
      #link-container
        label Your link
          input#sharelink(type="text", readonly)
        span.animate(onclick="gotForecast.share.copyLink(this)") copy
      
  #forecast-results

    // SELF RESULTS
    .header
      if selfResults || !userName
        div
          h1 Your forecast!
        .claim
          .custom--button.button(onclick="gotForecast.share.openModal('share')")
            a#button Share your results!
      else
        .claim
          h1 This is &nbsp;
            if userName
              span= userName
                span 's forecast!
        .claim
          .custom--button.button(onclick="window.location.href='/'")
            a#button(href="/") Do your own!
    
    .score
      .bar-container
        h3 Current score!
        .score-bar
          .score-bar-correct.empty(style=`width: ${currentScore.cssWidth}%`, score=`${currentScore.score}`)
      .score-number-container
        p#score-number 0
        span points

    .results-table
      .header-table
        .results-column.alive-column
          h2 Alive
          each a in alive
            .card-container
              .alive-card.card
                .image
                  img(src=`/images/${a.id}.jpg`)
                .info
                  p.name=a.nameToDisplay
                  .status
                    span Current status: 
                    span(style=`color: ${a.status === 'alive' ? '#8CE888' : '#FF5757'}`)
                      strong=a.status

        .results-column.dead-column
          h2 Dead
          each d in dead
            .card-container
              .dead-card.card
                .image
                  img(src=`/images/${d.id}.jpg`)
                .info
                  p.name=d.nameToDisplay
                  .status
                    span Current status: 
                    span(style=`color: ${d.status === 'alive' ? '#8CE888' : '#FF5757'}`)
                      strong=d.status
